<p style="color: green"><%= notice %></p>

<%= render @customer_order %>

<div>
  <%= link_to "Edit this customer order", edit_customer_order_path(@customer_order) %> |
  <%= link_to "Back to customer orders", customer_orders_path %>

  <%= button_to "Destroy this customer order", @customer_order, method: :delete %>
</div>
